In [1]:
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

pd.options.display.float_format = '{:.8f}'.format

In [2]:
df=pd.read_csv('wine_test.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline', 'class'],
      dtype='object')

In [4]:
df_sp=df[['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash',
       'magnesium', 'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline']]

In [5]:
df_sp

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23000000,1.71000000,2.43000000,15.60000000,127,2.80000000,3.06000000,0.28000000,2.29000000,5.64000000,1.04000000,3.92000000,1065
1,NaN,1.78000000,2.14000000,11.20000000,100,2.65000000,2.76000000,0.26000000,1.28000000,4.38000000,1.05000000,3.40000000,1050
2,13.16000000,2.36000000,2.67000000,18.60000000,101,2.80000000,3.24000000,0.30000000,2.81000000,5.68000000,1.03000000,3.17000000,1185
3,14.37000000,1.95000000,2.50000000,16.80000000,113,3.85000000,3.49000000,0.24000000,2.18000000,7.80000000,0.86000000,3.45000000,1480
4,13.24000000,2.59000000,2.87000000,21.00000000,118,2.80000000,2.69000000,0.39000000,1.82000000,4.32000000,1.04000000,2.93000000,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71000000,5.65000000,2.45000000,20.50000000,95,1.68000000,0.61000000,0.52000000,1.06000000,7.70000000,0.64000000,1.74000000,740
174,13.40000000,3.91000000,2.48000000,23.00000000,102,1.80000000,0.75000000,0.43000000,1.41000000,7.30000000,0.70000000,1.56000000,750
175,13.27000000,4.28000000,2.26000000,20.00000000,120,1.59000000,0.69000000,0.43000000,1.35000000,10.20000000,0.59000000,1.56000000,835
176,13.17000000,2.59000000,2.37000000,20.00000000,120,1.65000000,0.68000000,0.53000000,1.46000000,9.30000000,0.60000000,1.62000000,840
177,14.13000000,4.10000000,2.74000000,24.50000000,96,2.05000000,0.76000000,0.56000000,1.35000000,9.20000000,0.61000000,1.60000000,560

#### 군집 형성에 대한 기준(K-means 기반)
##### 군집이 잘 형성되었는지 확인하는 기준(기준점, 척도)
* 1. 시각화 ( 군집이 없는 상태. 정답이 없는 상태에서 데이터에 대한 분포를 확인)
* 분포에 대한 변수?
* 2. 엘보우 함수 이용
* 3. 실루엣 계수 이용

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
df_sp.dropna(inplace=True)

C:\Temp\ipykernel_1072\2101497962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sp.dropna(inplace=True)

In [ ]:
sc=StandardScaler()
df_scaled=sc.fit_transform(df_sp)